@font-face{
    font-family: KarlaB;
    src:url(Karla-Bold.ttf)
}

@font-face{
    font-family: Karla;
    src:url(Karla-Regular.ttf)
}

@font-face{
    font-family: Walt;
    src:url(waltograph42.otf)
}

@font-face{
    font-family: MN;
    src:url(Mella\ Nissa.ttf)
}

body{
    background-color: #379683;
    color:#edf5e1;
}


h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 100px;
    font-family: Walt;
    color: #edf5e1;
    letter-spacing: 10px;
    
}


li{
    list-style: none;
    margin-bottom: 0px;
    padding: 100px;
    margin-left: 200px;
    margin-right: 200px;

    /* border: 3px solid #edf5e1;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    padding-bottom: 300px; */
}

li p{
    font-size: 20px;
}


li h2{
    text-align: center;
    margin-bottom: 75px;
    font-family: KarlaB;
    font-size: 40px;
    color: #edf5e1;
}

p{
    font-family: Karla;
}

footer{
    font-size: 10px;
    text-align: center;
}

#greet-1, #greet-2, #greet-3, #greet-4, #greet-5, #greet-6, #greeto-1, #greeto-2, #greeto-3, #greeto-4, #greeto-5, #greeto-6 {
    display: inline-block;
    padding: 20px;
}

#destructuring-example-button, #spread-example-button, button{
    color:#edf5e1;
    background-color:transparent;
    padding: 10px;
    border: 1px solid #edf5e1;
    font-family: Karla;
    font-size: 20px;
    transition: .5s;
    outline: none;
    transform: translateZ(0);
   
}



#destructuring-example-button:hover, #spread-example-button:hover, button:hover{
transform: scale(1.1) translateZ(0);
transition: .5s;
cursor: pointer;
-webkit-font-smoothing: subpixel-antialiased;
backface-visibility: hidden;

}

img{
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #edf5e1;
    border-radius: 20px;
}

li h2:nth-of-type(2){
    margin-bottom: 20px;
    margin-top: 50px;
}

.smoll{
    margin-right: 200px;

}

.p2{
    margin-left: 200px;
}

h3{
    font-family: karla;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Wrap{
    display: grid;
    grid-template-columns: auto auto;

}

#svar{
    display: inline-block;
}

img:last-of-type{

}

#array_map{ 
display: grid;
grid-template-columns: 100px auto ;
background-color: green;
}



